nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

nav img {
  width: 100px;
  height: auto;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
  font-size: 15px;
}

@media (min-width: 1000px) {
  nav img {
    width: 230px;
  }

  nav ul li {
    font-size: 20px;
  }

  nav {
    margin-top: 1.5rem;
  }
}
